/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */



#ivs-slider-galeria {
	position: relative;

	.ivs-slider-galeria {
		overflow: hidden;
		position: relative;
		display: grid;
		box-sizing: border-box;

		* {
			box-sizing: border-box;
		}

		.ivs-slider-galeria-container {
			display: flex;
			transition: all .4s;


			.ivs-slider-galeria-item {
				float: left;
				cursor: pointer;

				img {
					max-width: 100%;
					height: auto;
					object-fit: cover;
					padding-left: 1px;
				}
			}
		}
	}

	#ivs-setas {

		.ivs-seta {
			position: absolute;
			border: none;
			border-radius: 50%;
			width: 35px;
			height: 35px;
			font-size: 1.25rem;
			background-color: #fafafa;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			top: calc(50% - 20px);
			cursor: pointer;

			&.ivs-seta-esquerda {
				left: -45px;
			}

			&.ivs-seta-direita {
				right: -45px;
			}

		}
	}
}

#ivs-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgb(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;


	#ivs-content-lightbox {
		position: relative;

		button {
			color: #fff;
			background-color: tomato;
			border: none;
			border-radius: 50%;
			font-size: 2rem;
			width: 40px;
			height: 40px;
			position: absolute;
			top: -8%;
			right: -4%;
		}

		img {
			box-shadow: 0 0 25px #111;
			max-width: 80dvw;
			height: auto;
		}
	}
}